<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377691853060-5iqssidjukgh0lg78kj6iv6k9v322f5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377691853060-5iqssidjukgh0lg78kj6iv6k9v322f5g</string>
	<key>API_KEY</key>
	<string>AIzaSyCIc9vdU8G5g6XCVlOQXWW0oGrszYbz2Kk</string>
	<key>GCM_SENDER_ID</key>
	<string>377691853060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Abo-Asal.MyInstagram</string>
	<key>PROJECT_ID</key>
	<string>myinstagram-42b2e</string>
	<key>STORAGE_BUCKET</key>
	<string>myinstagram-42b2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377691853060:ios:7d0f49a5e191e369058051</string>
</dict>
</plist>